*.pyc
__pycache__

.DS_Store

# pycharm
.idea

# vscode
.vscode

# data
data/**/train.json
data/**/val.json
data/**/test.json
data/camrest/CamRest676_v2.json
data/multiwoz/annotated_user_da_with_span_full.json
**/processed_data/*

# test script
*_test.py

# log
**/log/**

# save
**/save/**
