*.pyc
__pycache__

.DS_Store

# pycharm
.idea

# vscode
.vscode

# data
data/**/train.json
data/**/val.json
data/**/test.json
data/crosswoz/*
data/camrest/CamRest676_v2.json
data/multiwoz/annotated_user_da_with_span_full.json
data/schema/dstc8-schema-guided-dialogue-master
**/processed_data/*
data/mdbt/data
data/mdbt/models
data/mdbt/word-vectors
tatk/nlg/sclstm/**/resource/*
tatk/nlg/sclstm/**/resource_usr/*
tatk/nlg/sclstm/**/sclstm.pt
tatk/nlg/sclstm/**/sclstm.res
tatk/nlg/sclstm/**/sclstm.log
tatk/nlg/sclstm/**/sclstm_usr.pt
tatk/nlg/sclstm/**/sclstm_usr.res
tatk/nlg/sclstm/**/sclstm_usr.log
tatk/dst/sumbt/multiwoz/output/
tatk/nlg/sclstm/**/generated_sens_sys.json
tatk/nlg/template/**/generated_sens_sys.json
# test script
*_test.py

# log
**/log/**

# save
**/save/**

# .bak.py
*.bak.py

# compile files
build
dist
tatk.egg-info

# configs


.ipynb_checkpoints
